html, body {
  	margin: 0;
 	padding: 0;
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #2E2E2E, #000000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #2E2E2E, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

canvas {
	z-index: 0;
	margin: auto;
	padding-top: 8em;
	display: table;
	top: 0; left: 0; bottom: 0; right: 0;
}

.button {
	z-index: 1;
  	text-align: center;
  	position: absolute;
  	top: 30px; left: 0; bottom: 0; right: 0;
}
